<a href="https://colab.research.google.com/github/KARINAgoncalvesSOARES/Pandas/blob/main/20_fun%C3%A7%C3%B5es_do_pandas_ipynbUntitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Links de estudo: 
* [20 principais funções do pandas que você deveria estar usando!](evelup.gitconnected.com/top-20-pandas-functions-which-you-arent-using-which-you-should-be-using-a408a330daac)

* [Top-20-pandas-functions](https://github.com/muhammadanas0716/Top-20-Pandas-Functions)

In [ ]:
# Importando bibliotecas
import pandas as pd
import numpy as np

In [ ]:
arquivo = pd.read_csv('/content/drive/MyDrive/github/housing_dataset.csv')

##1- Exibindo as primeiras(head) e últimas(tail) linhas da base de dados.

## São exibidas 5 linhas por default, mas é possivel mostrar mais linhas passando a quantidade desejada como padrão.

In [ ]:
arquivo.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100

In [ ]:
arquivo.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,INLAND,78100
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,INLAND,77100
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,INLAND,92300
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,INLAND,84700
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,INLAND,89400

##2- dataframe.info(), nos traz um resumo preciso do dataframe